* {
	font-family: 'Helvetica';
	color: rgb(204, 197, 188);
}

body {
	background-color: rgb(10, 10, 10);
}


.app {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center
}



.quote {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.quote img {
    width: 300px;
}

.app button {
    margin-top: 30px;
    width: 300px;
    border: 1px solid black;
    background-color: rgb(204, 197, 188);
    color: rgb(10, 10, 10);
    font-size: 2rem;
}

.app button:hover {
    background-color: rgb(10, 10, 10);
    color: rgb(204, 197, 188);
    cursor: pointer;
}